
<!DOCTYPE html>
<html>
<head>
	<title>example</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/birthday.css">
	<script type="text/javaScript" src="js/birthday.js"></script>
	
	
</head>
<body>
	



	<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #242526;">
		<a class="navbar-brand" href="/birthday" style="color:#e6e6e6">Bingle!</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="searchrl">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" onkeyup="search(this.value)" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
		  </form>
		  <br>
		  
		  
		</div>
		  
		
		  


		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="navbar-brand">
					<p style="color: #e6e6e6;">Hi, <%= user.username %></p>
				</li>

			    <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="./icons/message.webp" width="40" height="40"  alt="">
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">need to put the user.messages </a>
					<a class="dropdown-item" href="#">recent 5</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Add a route to go to messages page page!</a>
				  </div>
			    </li>

			    <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="./icons/followreqinactive.png" width="40" height="40"  alt="">
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">need to put the friend request here </a>
					<a class="dropdown-item" href="#">recent 5</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Add a route to go to all recieved request page</a>
				  </div>
				</li>

			   <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <img src="./icons/notification.webp" width="40" height="40"  alt="">
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">add a link to notification page </a>
				  <a class="dropdown-item" href="#">recent 5</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">Add a route to go to notificaitons page!</a>
				</div>
			   </li>

			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="./icons/settings.png" width="40" height="40"  alt="">
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">add a route to settings page -> </a>
					<a class="dropdown-item" href="#"> add route to help, feedback page -></a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item btn btn-secondary" href="/logout">Logout</a>
				  </div>
			  </li>
			</ul>

		  
		 
		</div>
	  </nav>

	  



	   <!-- <div class="addpostdiv">
		  <span class="addpostbuttondiv" ></span>
			<a  id="newPost" onclick="openForm()">what is on your mind?
				
			</a>
		  </span>
	  </div>  
	  	  -->
	  

		<!-- <div  class="form-popup" id="postForm" >
		<div class="form-popup-header"  >
			
			<div>
				<form action="/birthday/<%=user.id%>/posts?_method=PUT" id="addPost" method="post">
					<div style="display: flex; height: 60px; box-sizing: border-box; justify-content: center;">
						<h1 style="color: #e6e6e6;">create post!</h1>
					</div>
						<input type="text" name="posts" id="newPost" placeholder="Input your thoughts!" style="height: 200px; width: 500px; justify-content: center; display: flex;">
						<button type="submit">Post</button>
				</form>
			</div>
			

		</div>
		
		
		</div>
		 -->
		
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel" style="justify-content: center;">Create post</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<form action="/birthday/<%=user.id%>/posts?_method=PUT" id="addPost"  method="post">
				  <div class="form-group" >

					<label for="recipient-name" class="col-form-label"></label>
					<input type="text" class="form-control" id="recipient-name" name="posts" id="newPost" placeholder="whats on your mind, <%=user.username%>">

				  </div>
				  
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send message</button>
			  </div>
			</div>
		  </div>
		  <div>
			
		</div>
		</div>

		
	<div class="main">
		
		<div class="main-left">
			<div class="serarchrrl" style="display: flex; flex-direction: row;">
				<div class="resultdiv">
					<div class="result" id="searchresult">
			
					</div>
					<br>
				</div>
			</div>
			<div class="gotofeed" style="display: block; position: fixed;">
				
				<a href="/feed">feed</a>
				<div class="changeprofilepicture">
					<form action="/profilepicture" method="post" enctype="multipart/form-data">
						<input type="file" name="avatar"/>
						<br>
						<button type="submit">click to upload</button>
					  </form>
				</div>
		
				<form action="/birthday/<%=user.id%>?_method=PUT" method="POST" id="update_username">
					<input type="text" name="username" id="username">
				
				</form>
		
				<div id="logout-btn">
					<p>
						<a href="/logout" class="btn btn-secondary">Logout</a>
					</p>
				</div>
				<div>
					<form action="/birthday/<%=user.id%>/<%=user.username%>" method="post">
						<button type="submit">click this button to see the blog posts</button>
					</form>
				
				</div>
		

			</div>
	
		</div>




	<div class="main-center">	
		
		<div class="addpostdiv">
		<!--add the profile pic here-->
			<button type="button" class="addpostbutton" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">whats on your mind, <%=user.username%></button>
		</div>
		
	<%for(var blog of user.posts){%>	  
	<div class="card" id="card<%=blog._id%>">
		<div class="image">
			<span><img src="" alt="can not get image"  ></span> 
			<!-- profile picture here -->
			<button onclick="postoptionbutton(this)" class="postoptionbutton" data-postid="<%=blog._id%>"
					id="postoptionbutton<%=blog._id%>" data-state="closed"><h4>...</h4>
			</button>
			<div class="postoptioncontent" id="postoptioncontent<%=blog._id%>">
				<ul>
				<li><button class="optionsforpost" onclick="editpostclick(this)"
					data-postid="<%=blog._id%>" href="#">Edit Post</button></li>
				
				<li><button class="optionsforpost" onclick="deletepost(this)" data-postid="<%=blog._id%>">Delete Post</button></li>
				</ul>
			</div>
			
			<span><h5 id="author" style="color: #e4e5e6;"><%=user.username%></h5>
			
			</span>
		</div>
		<form onsubmit="return false" class="editedinputpostform" id="editedinputpostform<%=blog._id%>"> 
			<textarea class="editedinputpost"  autofocus value="<%=blog.content%>" 
				onfocus="this.value = this.value;" id="editedinputpost<%=blog._id%>"></textarea>
			<button type="submit" class="editedinputpostbutton" id="editedinputpostsubmit<%=blog._id%>" 
				onclick="updatepost(this)" data-postid="<%=blog._id%>" data-author="<%=user.username%>">update</button>
		</form>
		
		<div class="content" >
			<h1 style="color: #e4e5e6;" id="actualpostcontent<%=blog._id%>"><%=blog.content%></h1>
		</div>
		<div class="control-btns">
			<span class="like-btn">
			
					<span id="likebtnspan"> 
					<button type="submit" id="likebtn" onclick="likedpost(this) " data-postid="<%=blog._id%>" data-author="<%=user.username%>">Like</button>
					</span>
					<span  id="likescounter-<%=blog._id%>" style="color: #e4e5e6;"> <%=blog.likes%> </span>
			</span>

			<div class="comment-btn" >
				<!-- //comments add karna hai -->
				<form onsubmit="return false" style="display: inline;">
		
					<input type="text" class="commentinputarea" id="commentinput<%=blog._id%>" name="addcommentinput" placeholder="add comment!"  style="display: none;">
					<button type="submit" onclick="submitcommentform(this)" data-blogid="<%=blog._id%>" data-author="<%=user.username%>" style="display: none;"></button>
				</form>
				
				
				<button type="submit" class="comment-btn" id="commentbtn-<%=blog._id%>" onclick="commentedonpost(this)" data-postid="<%=blog._id%>" data-author="<%=user.username%>"> comment </button>
				
                     <!--need to add find a way that new comments on post are making new divs too  -->
				
				<% for(var post of user.posts){%>
					<%if(post._id == blog._id){%>
					
				<div class="commentdisplay">
					<%for(var comment of post.comments){%>
					<%console.log("commentbody= "+comment.content)%>
					<div class="commentdisplayitemdiv" id="commentdisplayitemdiv<%=comment._id%>">
						
							<p id="commentdisplaytext<%=blog._id%>"><%=comment.author%>
								<span><button class="optioncomment" id="optionbutton<%=comment._id%>" 
									data-commentid="<%=comment._id%>" data-state="closed"
									 onclick="commentoptionclicked(this)"><h4>...</h4></button>
								<div class="commentoptioncontent" id="commentoptioncontent<%=comment._id%>">
									<ul>
									<li><button class="optionsforcomment" onclick="editcommentclick(this)"
										data-commentid="<%=comment._id%>" href="#">Edit comment</button></li>
									
									<li><button class="optionsforcomment" onclick="deletecomment(this)" data-id="<%=comment._id%>">Delete comment</button></li>
									</ul>
								</div>
								</span>
								<form onsubmit="return false" class="editedinputcommentform" id="editedinputcommentform<%=comment._id%>"> 
									<textarea class="editedinputcomment"  autofocus value="<%=comment.content%>" 
										onfocus="this.value = this.value;" id="editedinputcomment<%=comment._id%>"></textarea>
									<button type="submit" class="editedinputcommentbutton" id="editedinputcommentsubmit<%=comment._id%>" 
										onclick="updatecomment(this)" data-commentid="<%=comment._id%>" data-author="<%=user.username%>">update</button>
								</form>
								<br><h6 class="actualcommentcontent" >
									<p id="actualcommentcontent<%=comment._id%>"><%=comment.content%></p></h6>
							
							</p>
						
							<div class="commentinfo">
								<h6> <p id="commentlikesdisplay<%=comment._id%>"><%=comment.likes%></p></h6>	
							</div>
								<span class="commentbuttonspan">
									<button type="submit" class="commentbuttons" id="commentlikebtn<%=blog._id%>" data-commentid="<%=comment._id%>" 
										data-author="<%=user.username%>" data-postid="<%=blog._id%>" onclick="likedcomment(this)">like</button>
									<button type="submit" class="commentbuttons">reply</button>
								</span>
	
						</div>
						
							<%}%>
							<%}%>
						<%}%>
						
						
						
					
				</div>
			</div>
			
		</div>
	</div>
	<%}%>
		
	</div>	


</div>



</body>
<script>var flag = 0;
	function openForm() {
		console.log("opened form");
		document.getElementById("postForm").style.display = "block";
		flag = 1;
	  }


	  console.log("hello form the birthday.js file!!")
	  
	</script>
<script type="text/javaScript" src="js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};</script>
</html>